.nav-font{
    font-size:15px!important;
    font-weight: bold;
    width: calc(100vw );
    color:black!important;
    border: none;
    background-color:rgba(235, 233, 233, 0.9)!important;
    box-shadow: 0px 5px 5px #27272780;
    position:fixed!important;
}
.dropdown-box{
    color:black!important;
}
.dropdown-menu{
    background-color:rgba(235, 233, 233, 0.9)!important;
    box-shadow: 0px 5px 5px #27272780;
    font-size:15px!important;
}
.navbar-toggler{
border: 0px;
}
.ani_link {
    position: relative!important;
    cursor: pointer!important;
  }
  .ani_link::after {
    content: ""!important;
    display: block!important;
    width: 0!important;
    height: 2px!important;
    background: rgb(74, 116, 230)!important;
    transition: width 0.3s!important;
    margin-top: 8px!important;
  }
  
  .ani_link:hover.ani_link::after {
    width: 100%!important;
    transition: width 0.3s!important;
  }
  .menuItemFont {
    font-family: inherit!important;
    color: rgb(30, 93, 194)!important;
    font-size: 200!important;
  }