$blue: #341cac;

body, html {
  font-family: 'Open-Sans', sans-serif;
  background-color: white!important;
}

.card {
  width:240px;
  display: table-cell;
  position:relative;
  box-sizing:inherit;
  margin: 60px auto;
  box-shadow: 2px 1px 10px 5px darken(#d6d6d6, 5%);
  transition: .25s;
  
  &:hover {
    // box-shadow: 10px 5px 40px 20px darken(#d6d6d6, 10%);
    cursor: pointer; 
    
    .button-primary {
      transform: translate(10px, 0);
    }
  }
}
@media only screen and (max-width: 600px) {
  .card {
    width:400px;
    display: table-cell;
  position:relative;
  box-sizing:inherit;
    margin: 60px auto;
    box-shadow: 2px 1px 10px 5px darken(#d6d6d6, 5%);
    transition: .25s;
    
    &:hover {
      box-shadow: 3px 2px 20px 10px darken(#d6d6d6, 10%)!important;
      cursor: pointer;
      
      .button-primary {
        transform: translate(10px, 0);
      }
    }
  }
}


.card-header {
  height: 80px;
  width: 100%;
  padding: 20px;
  width:100%;
  background-size:cover;
  color:#fff;
}

.card-header--title {
  text-transform: uppercase;
  margin: 0;
}

.card-body {
  padding: 0px;
  background-color:#fff;
  width:100%;
  font-size:14px;
text-align:center;
}
.cost-li{
  width:100%;
  padding:8px;
  min-height: 110px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  list-style-type:none;
}
.instabox-foot{
  padding:15px;
  list-style-type:none;
}
.uni-title{
  color:#00a54f!important;
  font-size:16px!important;
  padding-bottom: 4px;
}
.forehead{
  padding:5px;
}
.ranking{
  display: flex;
  width: auto;
  font-size:12px;
  margin-top: 5px;
  padding:2px;
  line-height: 2;
  display:inline-block;

}
.list{
  list-style-type:none;
  padding-top:5px;
  padding-bottom:5px;
  padding-left: 0%;
  padding-right: 0%;
  margin:0px;
}
.sems{
  font-size: 12px;
}
.date {
  font-size: 11px;
  font-weight: 600;
  color: grey;
}

.body-content {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 1.8;
}

.button-primary {
  border: none;
  box-shadow: none;
  font-family: inherit;
  background-color:transparent;
  color: $blue;
  font-size: 15px;
  transition:.25s;
  
  i{
    padding-right:4px;
  }
}


.designer-link {
  color:#fff;
  text-align:center;
  font-size: 12px;
  text-decoration: none;
  display:block;
}

.cont{
  display:table
}

.img{
display:inline;
padding-right:2px;
}
.HeroCarousel{
  height:500px!important;
  
}
.padding{
  padding-top:20px;
}