.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .padding-top{
    padding-top:16%;
  }
  .App-link {
    color: #61dafb;
  }
  .Aus_header{
    height: 100vh;
    padding: 1px 0;
    margin: 0 auto;
    background-image: url('https://res.cloudinary.com/american-international-university-bangladesh/image/upload/v1618479039/sydney-4034244_1280_cnmfu0.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow:hidden!important;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .padding-top{
    padding-top:80px!important;
 padding-bottom:50px!important;
  }

  .padding-top-section-header{
    padding-top:3%!important;
 padding-bottom:3%!important;
  }
  .HeroCarousel_slide__37bY-{
    height:100%!important;
  }